@import "../../unils/variable.scss" ;

.add-hs {
    padding: 20px 30px;
    padding-left: 280px;
    &-title {
         font-size:  20px;
         color:  $blueDark;
         font-weight: bold;
    }
//     .row-item {
//          float: left;
//     }
}