$blue: #0F0E9F; 
$blueLight: #0065D8;
$red: #E63946;
$pink: #e83e8c;
$orange : #F35A22 ;
$blueDark : #3D5586 ;
$bg : #ECEEF7 ;
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace ;